html {
    /* min-height: 100vh; */
    height: 100%;
}

body{
margin: 0;   

}
.alto {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
/* height: 780px; */



background-color: honeydew;
}
.titulo{
    font-family: 'Bangers';
    font-size: 44px;
}
.carta{
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid #2fc5be;
    margin: 3px;
    /* background-color:darkcyan; */

    /* margin-top: 20px; */
    max-width: 100%;

}

#tablero{
    background-color: red;
}

#controles{
    background-color: rgb(187, 182, 175);
}
