html {
    /* min-height: 100vh; */
    height:100%;
    width:100%;
}

body{
background-color: #F2DFBB !important;
margin: 0;   
height:100%;
width:100%;
}
#cabecera {
    height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 62, 76); 
    border-top: 2px solid whitesmoke;
    border-bottom: 4px solid whitesmoke;
}

.titulo{
    font-family: 'Bangers';
    font-size: 6vw;
  
}

#tablero{
     height: 70vh;
     background-color: #F25764;
}
.carta{
 
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid rgb(192, 174, 174) ;
  
    color: #11768C;
    height: 35vh;
    /* width: 35px;
     */
     overflow: hidden;
}
.estadisticas{
    color:whitesmoke;
    font-size: 25px;
    font-family:Verdana, sans-serif;
}

#mensaje-ganador{
    border:1px solid whitesmoke;
    margin-top: 15px;
    padding: 10px;
    background-color:#F25764;
    text-align: center;

}
#texto-ganador{
    font-size: 3vw;
    font-family:sans-serif;
    color: whitesmoke;
}
#controles{
     background-color: #1c75bc;
}

#btn-jugar{
    margin-top: 20px !important;

}

.oculto{
    display: none;
}
