html {
    /* min-height: 100vh; */
    height: 100%;
}

body{
background-color: #F2DFBB  !important;
margin: 0;   
/* background-image: url("img/fondo.jpg"); */

}
#cabecera {
    height: 25%;
    justify-content: center;
    align-items: center;
    background-color: #F25764;
}

.titulo{
    font-family: 'Bangers';
    font-size: 50px;
   
    
}
.carta{
 
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid rgb(192, 174, 174) ;
  
    color: #11768C;
    /* width: 35px;
    height: 50px; */
}
.estadisticas{
    color:whitesmoke;
    font-size: 40px;
    font-family:Verdana, sans-serif;
}
#tablero{
    background-color:#8C5454; 
  
}

#controles{
    
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
     /* background-color:#D9A13B; */
     /* color: #D9D9D9; */
     background-color: #616F8C;
}
